*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 961px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: antiquewhite;
    color: black;
    flex-direction: column;
    width: 20%;
    text-align: center;
}