*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;

}
ul li a{
    color: rgb(135, 135, 135);
    display: flex;
    text-decoration: none;
}

input[type="button"]{
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #a4a4a4;
    border: none;
    align-self: flex-end;
 }

 button{
    border: none;
 }
